/* Main VideoGames Page */
.games-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-top: 1px solid #000;
	padding-top: 1.5rem;
}

.card {
	border: 1px solid #ddd;
	border-radius: 1rem;
	width: 30%;
}

.card-img {
	width: 100%;
	height: 30rem;
	border-radius: 1rem 1rem 0 0;
	object-fit: cover;
}

.card-title {
	text-align: center;
	font-family: 'rubik mono one', monospace, sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
}

.card-text { 

	font-family: 'Syne Mono', monospace, sans-serif;
	line-height: 1.4;
}

.show_image-container img {
	width: 80%;
}
/*  All pages */
body {
	background-color: #1e211f;
}
/* Sign Up Page */
#createAccountText {
	color: white;
}

#signUpText {
	color: white;
	font-size: 20px;
}

/* Add new game */
.addNewGamePageFont {
	color: white;
font-family: 'Syne Mono', monospace, sans-serif;}

/* Landing Page  */
#homeTitle {
	background-color: black;
	color: white;
	text-align: center;
	margin: auto;
	width: 50%;
	height: 3rem;
	font-size:2.5rem;
	font-family: 'Syne Mono', monospace, sans-serif;
}

.gameBackground {
	background-color: white;
	width: 45%;
	margin: auto;
	height: 40%
}

#bodyLand {
	background-color: black;
	background-image: url('https://subwallpaper.com/Widescreen-Wallpapers/video-game-wallpapers-classic-desktop-background-For-Widescreen-Wallpaper.jpg');"
}

/* Game show page  */
#gamePageTitle {
	text-align: center;
}

#gameInfoTable {
	font-family: 'Syne Mono', monospace, sans-serif;
	color: white;
}

#gameInfoTop {
	color: white;
	font-family: 'Syne Mono', monospace, sans-serif;
}

h1 {
	text-decoration: underline;
}

/* Vote Buttons */
#voteButtons {
color:white;
}

/* Comments */
#commentButton {
	height: 1.5rem;
	line-height: .5rem;
	font-size: .7rem;
	text-align: center:
}

#newCommentPageFont {
	color: white;
	font-family: 'Syne Mono', monospace, sans-serif;
}

#commentUsername {
	color: white;
	text-decoration: underline;
}

#commentsHeader {
	text-decoration: underline;
}

#commentText {
	color: white;
}
/* Edit Game  */

#editGameText {
	color: white;
	font-family: 'Syne Mono', monospace, sans-serif;
}
